body {
    margin: 0px;
    padding: 0px;

}

.tituloSistema {
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: blueviolet;
}

.err{
    color: red;
    background-color: sandybrown;
    text-align: center;
    padding: 20px;
}

.bienvenida{
    color: rgb(98, 0, 255);
    background-color: sandybrown;
    text-align: center;
    padding: 20px;
}

.opcionesMenu{
    color: black;
    background-color: sandybrown;
    text-align: center;
    padding: 20px;

}